section.hero.hero-slide
    .hero-image(style="background-image:url(https://picsum.photos/1366/800)")
        .hero-text
            h2 1
    .hero-image(style="background-image:url(https://picsum.photos/1366/800)")
        .hero-text
            h2 2
    .hero-image(style="background-image:url(https://picsum.photos/1366/800)")
        .hero-text
            h2 3
    .hero-image(style="background-image:url(https://picsum.photos/1366/800)")
        .hero-text
            h2 4