$slide-timing: 6s; //insert time through slides
$slide-count: 4; //how many slide?

@keyframes slider-animation {

  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  30%{
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

html,body{
  height: 100%;
}

section.hero.hero-slide {
  position: relative;
  height: 585px;
  .hero-text{
    h2{
      text-align: center;
      font-size: 70px;
      color: #0277bd;
    }
  }
  .hero-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    opacity: 0;
    animation: slider-animation;
    animation-duration: $slide-timing * $slide-count;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: normal;

    @for $i from 2 through $slide-count {
      &:nth-child(#{$i}){
        animation-delay: $slide-timing * ($i - 1);
      }
    }
  }
}